*{
  margin: 0;
  padding: 0;
}

.header-container{
  display: flex;
  height: 50px;
  color: white;
  text-align: center;
}

.hd1{
  background-color: orange;
  width: 50%;
}

.hd2{
  background-color: cornflowerblue; 
  width: 50%;
}

nav{
  height: 50px;
}

nav2{
  height: 20px;
}

ul{
  display: flex;
  list-style: none;
}

li{
  height:50px;
  margin: 0 10px;
}

#footer{
  background-color:whitesmoke;
  color: black;
  width: 1000px;
  height: 200px;
}

main{
  width: 1000px;
}

.main-container{
  height: 400px;
  display: flex;
}

.aside{
  background-color: beige;
  width: 700px;
  height: 100%;
}

.section{
  background-color: burlywood;
  width: 300px;
  height: 100%;
}

nav3{
  width: 100%;
  height: 300px;
}

img{
  width: 70%;
}